spring:
    application:
        name: ERP

    datasource:
        driver-class-name: org.sqlite.JDBC
        url: ${SQLITE_URL}

    jpa:
        database-platform: org.hibernate.community.dialect.SQLiteDialect
        show-sql: true
        hibernate:
            ddl-auto: update

    mail:
        host: smtp.gmail.com
        port: 587
        username: ${SMTP_MAIL}
        password: ${SMTP_PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true


root:
    email: vishall369@gmail.com
    password: Vishall@369
    name: Vk

app:
    base-url: /api/v1
    security:
        secret: ${SECURITY_SECRET}
        token-validity:
            access-validity: 3600
            refresh-validity: 1296000
    domain:
        name: ${DOMAIN_NAME}
        secure: ${DOMAIN_SECURE}
        same-site: ${DOMAIN_SAME_SITE}

logging:
    level:
        com.erp: DEBUG
        org.springframework.security: DEBUG
